#player-list {
  .card-col {
    margin-bottom: 8px;
  }

  .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .card-label {
    color: #323232ee;
    font-weight: 600;
  }

  .card {
    text-align: left;
  }

  .card:hover {
    cursor: pointer;
  }

  .toast-wrapper {
    display: flex;

    .toast {
      margin-left: auto;
    }
  }
}

#spinner-wrapper {
  display: flex;
  width: 100%;

  .spinner {
    margin: auto;
    margin-top: 220px;
    text-align: center;
  }
}
